<!doctype html>
<title>Fused News API</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Fused News API Documentation</h1>
  <p>Here you will find information on consuming the fused news api.</p>
    <br /> <br />
    <h2>ADDING NEWS</h2>
    <b>POST /api/v1/fusednews</b> - Add some new news to our database!
    <br /> <br />
    <h2>GETTING NEWS</h2>
    <b>GET /api/v1/fusednews</b> - Get all the fused news from our database!<br />
    <b>GET /api/v1/fusednews/&lt;id&gt;</b> - Get a specific article from our database!
    <br /> <br />
    <h2>DELETING NEWS</h2>
    <b>DELETE /api/v1/fusednews/&lt;id&gt;</b> - Get all the fused news from our database!
</div>
